VITE_SUPABASE_URL=https://yspclymcgkiitljrekbx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzcGNseW1jZ2tpaXRsanJla2J4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMTMwNTksImV4cCI6MjA5MDc4OTA1OX0.oPvOZqMS4ZQ0UpPWPT7FWfYIgdxRIYBZ5T67MsWPFDc
